body{
font-family: 'Lato', sans-serif;
color: white;
background-color: #0045A6;
background-image: url("../assets/bg.png");
}
#navbarSupportedContent{
margin-left: 100px;
}
.mr-auto li{
margin-right: 20px;
}
.conta{
margin-top:200px;
}
.fa1{
color: lightgreen;
}
.pro{
text-align: center;
font-size: 90px;
color: white;
}
.text-center{
color: ;
}
.footer{
background-color: #b0aac2;
color: white;
padding: 20px;
width: 100%;
box-shadowa: 0px -1px 20px 6px #888888;
}
.footerdiv i{
font-size: 25px;
padding-left: 30px;
padding-right: 30px;
color: white;
}
.mobile{
display: none;
}
.desktop{
display: block; ;
}
.specs{
color: red;
}
@media only screen and (max-width: 768px){
.desktop{
display: none;
}
.mobile{
display: block; ;
}   
}

